.info-destaque {
  text-align: center;
  font-size: 30px;
  background-color: rgb(236, 105, 18);
  animation-name: example;
  animation-duration: 4s;
}

.navbar {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-fluid {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 27px;
  cursor: pointer;
}

.text-center {
  text-align: justify;
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 40px;
}

p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-top: 0 0 1em;
  display: block;
}

h4 {
  padding: 100px;
  margin: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(236, 104, 16);
  font-size: 35px;
}

.imagem-somos {
  text-align: center;
}

.card-text {
  text-align: center;
  font-size: 17px;
}

.card {
  box-shadow: 0px 0px 1px 1px rgba(167, 153, 139, 0.924);
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: inline-flex;
}

.form-control {
  padding: 10px;
  margin: 10px;
  width: 400px;
}

.button {
  padding: 10px;
  margin: 10px;
}

.carde {
  padding: 80px;
}

h5 {
  text-align: center;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.modal {
  position: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgb(236, 104, 16);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: rgb(236, 104, 16);
}

.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: rgb(226, 102, 20);
  border-radius: 50%;
  font-size: 16px;
  color: black;
}

#newsletter {
  background-color: rgb(236, 105, 18);
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 25px;
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn {
  text-align: center;
  border: none;
  background: orange;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 1e1m;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-bottom: 10px;
}

.btn:hover {
  background: orangered;
  color: whitesmoke;
}

.row {
  text-align: center;
  padding: 40px;
}

@keyframes example {
  10% {
    background-color: rgb(226, 102, 20);
  }

  20% {
    background-color: rgb(10, 10, 10);
  }

  50% {
    background-color: rgb(240, 143, 78);
  }

  100% {
    background-color: rgb(10, 10, 10);
  }
}

@media (max-width: 576px) {
  div section {
    display: none;
  }

  .btn {
    max-width: 150px;
    min-width: 80px;
  }

  .input {
    max-width: 700px;
    min-width: 240px;
  }
}
